/* -------------------------------------------------
   By Code Explained
   www.youtube.com/Code Explained
------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    background-origin: padding-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
    /* background-color: #636363; */
}

/* Calculator */
.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Calculator Container */
.calc-container {
    background-color: #1d1d1d;
    width: 600px;
    height: auto;
    border-radius: 0 0 30px 30px;
}

/* Output */
.output {
    width: 100%;
}

/* Operation */
.operation {
    width: 600px;
    height: 70px;
    color: #878787;
    font-size: 1.9em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.operation .value {
    position: absolute;
    bottom: 5px;
    right: 10px;
    white-space: nowrap;
    overflow: hidden;
}

/* Result */
.result {
    width: 600px;
    height: 140px;
    color: #ffffff;
    font-size: 2.6em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

.result .value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    white-space: nowrap;
    overflow: hidden;
}

/* Input */
.input {
    background-color: #ffffff;
    border-radius: 0 0 25px 25px;
    border: 1px solid #1d1d1d;
    height: 340px;
}

/* Rows */
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Buttons */
.row button {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin: 8px;
    cursor: pointer;
}

/* Button Hover */
.row button:hover {
    font-weight: bold;
}

/* Calculate Button */
.row #calculate {
    color: #ffffff;
    background-color: #46e0bc;
    width: 121px;
    border-radius: 50px;
}

/* Delete Button */
.row #delete {
    color: #ffffff;
    background-color: #e05046;
}

/* Operators */
#division,
#multiplication,
#subtraction,
#addition {
    color: #18b893;
}

/* Button Span */
.input button span {
    font-size: 0.6em;
    position: absolute;
}

/* Active Angle */
.active-angle {
    background-color: #1d1d1d !important;
    color: #ffffff !important;
    border-radius: 10px !important;
}
